################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rotas/.vs/Rotas/v16/Server/sqlite3/db.lock
